button  {
    width: 11.5em;
    height: 3em;
    background-color: rgb(255, 255, 255);
}

th, td {
    width: 17%;
}

table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    margin:auto;

}

header {
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    text-align: center;
}